*,
*::before,
*::after {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-item-img {
  width: 100px;
  height: 100px;
}

.single-user-img,
.users-posts,
.user-posts-img {
  width: 150px;
  height: 150px;
}

.user-item-container,
.single-user-container,
.user-posts-container,
.post-section-container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.user-item-content,
.user-posts-header {
  display: flex;
  gap: 20px;
  width: 100%;
}

.user-posts-text-container {
  border: 3px solid black;
  padding: 20px;
  width: 100%;
}

.user-item-text,
.single-user-text {
  border: 3px solid black;
  padding: 20px;
  width: 100%;
}

.user-name {
  margin-left: 20px;
}

.user-post-numba {
  width: 150px;
  margin-left: 300px;
}

.single-user-content {
  display: flex;
  gap: 20px;
  width: 100%;
}

.single-user-bio {
  border: 3px solid black;
  height: 100px;
  padding: 20px;
}

.single-user-post-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single-user-post-content {
  border: 3px solid black;
  padding: 20px;
}

.user-posts-item-content {
  border: 3px solid black;
  width: 100%;
  height: 100px;
}

.user-posts-comment-container {
  border: 3px solid black;
  width: 100%;
  height: 150px;
  margin-bottom: 30px;
}

.post-section-content {
  border: 3px solid black;
  width: 100%;
  height: 200px;
}

.post-section-comment-container {
  width: 100%;
  height: 200px;
  border: 3px solid black;
  overflow-y: scroll;
}

@media screen and (min-width: 700px) {
  .user-post-numba {
    margin-left: 80%;
  }
}